<%= link_to "New Product", "/products/new" %>

<!-- renders a helpful message with numbers of displayed vs. total entries -->
<h1>Products <small><%= page_entries_info @products %></small></h1>

<hr/>

<div id="products">
	<%= render @products %>
</div>

<%= paginate @products %>